section.first-section {
    width: 100%;
    position: relative;

    .slides {
        width: 400%;
        display: flex;
        overflow: hidden;
        
        input {
            display: none;
        }

        .slide {
            width: 25%;
            position: relative;

            img {
                width: 100%;
            }
        }

        .manual-navigation {
            position: absolute;
            width: 100%;
            bottom: 150px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            gap: 30px;

            .manual-btn {
                width: 60px;
                height: 20px;
                border: 2px solid #fff;
                padding: 5px;
                cursor: pointer;
                border-radius: 10px;
                border-color: #f23839;
                transition: 1s;

                &:hover {
                    background-color: #f23839;
                    border: #fff;
                }
            }
        }

        #radio1:checked ~ .first {
            transition: 1s;
            margin-left: 0;
        }

        #radio2:checked ~ .first {
            transition: 1s;
            margin-left: -25%;
        }
    }

    .content {
        width: 80%;
        margin: 0 auto;
        padding: 60px 0;
        @include displayFlex (row, space-between);
        font-size: 1.5rem;
        color: #fff;
        font-weight: 300;
    }
}

