.footer {
    width: 100%;

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-around;

        img {
            width: 80px;
        }

        h2 {
            font-size: 1.2rem;
            color: #fff;
            font-weight: 400;
        }

        a {
            width: 20px;

            i {
                color: #fff;
                width: 10px;
            }
        }
    }

    .copyright {
        margin: 20px 0;
        padding: 20px 0;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;

        h3 {
            font-size: 1rem;
            color: #fff;
            font-weight: 400;
        }

        h4 {
            font-size: .8rem;
            font-weight: 300;
            color: #fff;
        }
    }
}