@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&family=Long+Cang&family=Nanum+Brush+Script&family=Nothing+You+Could+Do&family=Poppins:wght@300;400;500;600;700;800;900&family=Yuji+Boku&display=swap");
header {
  z-index: 9999;
  width: 90%;
  margin: 0 5%;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 7px 0px;
  border-top: 2px solid #f23839;
  border-bottom: 2px solid #f23839;
}
header ul li {
  list-style: none;
}
header ul li a {
  color: #fff;
  text-decoration: none;
}
header #logo {
  width: 80px;
}
header .fa-solid {
  display: none;
}
header #menu {
  margin: 10px 0;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: auto;
}
header #menu a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  border-bottom: 0.5px solid #fff;
  border-top: 0.5px solid #fff;
}

@media (max-width: 480px) {
  header {
    z-index: 9999;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: static;
    top: 0;
    left: 0;
  }
  header ul {
    display: none;
    gap: 50px;
    font-size: 1.3rem;
    font-weight: 300;
    padding: 7px 0px;
    border-top: 2px solid #f23839;
    border-bottom: 2px solid #f23839;
  }
  header ul li {
    list-style: none;
  }
  header ul li a {
    color: #fff;
    text-decoration: none;
  }
  header .mobile-header {
    width: 55%;
    margin-left: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .mobile-header #logo {
    width: 60px;
  }
  header .mobile-header #burger {
    margin-right: 30px;
    display: block;
    font-size: 2rem;
    color: #fff;
  }
  header #menu {
    margin: 10px 0;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: auto;
  }
  header #menu a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    border-bottom: 0.5px solid #fff;
    border-top: 0.5px solid #fff;
  }
}
.parallax {
  position: relative;
  width: 100%;
  height: 100%;
}
.parallax h1 {
  z-index: 1;
  position: absolute;
  color: #fff;
  top: 300px;
  white-space: nowrap;
  right: -1100px;
  font-size: 4rem;
  font-family: "Finger Paint", cursive;
  text-shadow: 0px 0px 10px #f23839;
}
.parallax img {
  position: absolute;
  top: 30px;
  z-index: 999;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.parallax1 {
  position: relative;
  width: 100%;
}
.parallax1 img {
  margin-top: 20px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.parallax1 #sun {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 480px) {
  .parallax {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .parallax h1 {
    display: none;
    z-index: 1;
    position: absolute;
    color: #fff;
    top: 300px;
    white-space: nowrap;
    right: -1100px;
    font-size: 4rem;
    font-family: "Finger Paint", cursive;
    text-shadow: 0px 0px 10px #f23839;
    overflow: hidden;
  }
  .parallax img {
    position: absolute;
    top: 30px;
    z-index: 999;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .parallax1 {
    position: relative;
    width: 100%;
  }
  .parallax1 img {
    margin-top: 20px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .parallax1 #sun {
    position: absolute;
    top: 0;
    left: 0;
  }
}
section.first-section {
  width: 100%;
  position: relative;
}
section.first-section .slides {
  width: 400%;
  display: flex;
  overflow: hidden;
}
section.first-section .slides input {
  display: none;
}
section.first-section .slides .slide {
  width: 25%;
  position: relative;
}
section.first-section .slides .slide img {
  width: 100%;
}
section.first-section .slides .manual-navigation {
  position: absolute;
  width: 100%;
  bottom: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 30px;
}
section.first-section .slides .manual-navigation .manual-btn {
  width: 60px;
  height: 20px;
  border: 2px solid #fff;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  border-color: #f23839;
  transition: 1s;
}
section.first-section .slides .manual-navigation .manual-btn:hover {
  background-color: #f23839;
  border: #fff;
}
section.first-section .slides #radio1:checked ~ .first {
  transition: 1s;
  margin-left: 0;
}
section.first-section .slides #radio2:checked ~ .first {
  transition: 1s;
  margin-left: -25%;
}
section.first-section .content {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300;
}

@media (max-width: 480px) {
  section.first-section {
    width: 100%;
    position: relative;
  }
  section.first-section .slides {
    width: 400vw;
    display: flex;
    overflow: hidden;
  }
  section.first-section .slides input {
    display: none;
  }
  section.first-section .slides .slide {
    width: 100vw;
    position: relative;
  }
  section.first-section .slides .slide img {
    width: 100vw;
  }
  section.first-section .slides .manual-navigation {
    position: absolute;
    width: 100%;
    bottom: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  section.first-section .slides .manual-navigation .manual-btn {
    width: 30px;
    height: 10px;
    border: 2px solid #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    border-color: #f23839;
    transition: 1s;
  }
  section.first-section .slides .manual-navigation .manual-btn:hover {
    background-color: #f23839;
    border: #fff;
  }
  section.first-section .slides #radio1:checked ~ .first {
    transition: 1s;
    margin-left: 0;
  }
  section.first-section .slides #radio2:checked ~ .first {
    transition: 1s;
    margin-left: -25%;
  }
  section.first-section .content {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
  }
}
.second-section h1 {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Finger Paint", cursive;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
.second-section .menu {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}
.second-section .menu a {
  text-decoration: none;
}
.second-section .menu-itens {
  width: 200px;
  padding: 30px 20px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.second-section .menu-itens img {
  width: 100%;
  border-radius: 20px;
}
.second-section .menu-itens h2 {
  font-size: 1.5rem;
  align-items: center;
  font-family: "Finger Paint", cursive;
  font-weight: 300;
  color: #fff;
}

@media (max-width: 480px) {
  .second-section h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Finger Paint", cursive;
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
  }
  .second-section .menu {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
  .second-section .menu a {
    text-decoration: none;
  }
  .second-section .menu-itens {
    width: 160px;
    padding: 30px 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .second-section .menu-itens img {
    width: 100%;
    border-radius: 20px;
  }
  .second-section .menu-itens h2 {
    font-size: 1rem;
    align-items: center;
    font-family: "Finger Paint", cursive;
    font-weight: 300;
    color: #fff;
  }
}
.third-section {
  margin: 80px 0;
  background-image: url(img/chef.png);
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.third-section .container {
  margin-left: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}
.third-section .container .title {
  display: flex;
  flex-direction: column;
}
.third-section .container .title h1 {
  font-size: 4rem;
  color: #f23839;
  font-weight: 300;
}
.third-section .container .title h2 {
  font-size: 4rem;
  color: #fff;
  font-weight: 400;
  font-family: "Finger Paint", cursive;
}
.third-section .container .title h2::before {
  content: "";
  background-color: #f23839;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-30px, 40px);
}
.third-section .container .title h2::after {
  content: "";
  background-color: #f23839;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  transform: translate(10px, 40px);
}
.third-section .container p {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300;
}

@media (max-width: 480px) {
  .third-section {
    margin: 40px 0;
    background-image: url(img/chef.png);
    background-attachment: local;
    width: 100%;
    height: 100vh;
    background-position: -250px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .third-section .container {
    margin-left: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
  }
  .third-section .container .title {
    display: flex;
    flex-direction: column;
  }
  .third-section .container .title h1 {
    font-size: 2rem;
    color: #f23839;
    font-weight: 300;
  }
  .third-section .container .title h2 {
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
    font-family: "Finger Paint", cursive;
  }
  .third-section .container .title h2::before {
    content: "";
    background-color: #f23839;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-12px, 20px);
  }
  .third-section .container .title h2::after {
    content: "";
    background-color: #f23839;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    transform: translate(5px, 20px);
  }
  .third-section .container p {
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
  }
}
.footer {
  width: 100%;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-content img {
  width: 80px;
}
.footer-content .options {
  display: flex;
  gap: 50px;
}
.footer-content .options h2 {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 400;
}
.footer-content .medias {
  display: flex;
  gap: 30px;
}
.footer-content .medias a {
  width: 20px;
}
.footer-content .medias a i {
  color: #fff;
  width: 10px;
}
.footer .copyright {
  margin: 20px 0;
  padding: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.footer .copyright h3 {
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
}
.footer .copyright h4 {
  font-size: 0.8rem;
  font-weight: 300;
  color: #fff;
}

@media (max-width: 480px) {
  .footer {
    width: 100%;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  }
  .footer-content .options {
    margin: 0 auto;
    justify-content: space-around;
    width: 90%;
    display: flex;
    flex-direction: row;
  }
  .footer-content .options h2 {
    font-size: 0.8rem;
    color: #fff;
    font-weight: 400;
  }
  .footer-content .medias {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-around;
  }
  .footer-content img {
    width: 60px;
  }
  .footer-content a {
    width: 20px;
    font-size: 0.5rem;
  }
  .footer-content a i {
    color: #fff;
    width: 10px;
  }
  .footer .copyright {
    margin: 20px 0;
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .footer .copyright h3 {
    font-size: 0.7rem;
    color: #fff;
    font-weight: 400;
  }
  .footer .copyright h4 {
    font-size: 0.6rem;
    font-weight: 300;
    color: #fff;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 480px) {
  body {
    background-image: url(img/bg.png);
    background-repeat: repeat;
    background-size: contain;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
  }
}/*# sourceMappingURL=style.css.map */