@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Long+Cang&family=Nanum+Brush+Script&family=Nothing+You+Could+Do&family=Poppins:wght@300;400;500;600;700;800;900&family=Yuji+Boku&display=swap');

@import 'variables';
@import 'header';
@import 'parallax';
@import 'firstSection';
@import 'secondSection';
@import 'thirdSection';
@import 'footer';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;

    font-family: 'Poppins', sans-serif;

}

